.transactions-button {
  display: flex;
  padding: 8px 12px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 12px;
  background: #2d60ff;
  color: #fff;
  text-align: center;
  border-width: 0;
  cursor: pointer;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.label1 {
  color: #505887;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.input1 {
  width: 418px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 15px;
  border: 1px solid #dfeaf2;
  background: #fff;
}
.button2 {
  display: flex;
  width: 418px;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: var(--primary-3, #2d60ff);
  color: #fff;
  text-align: center;
  border-width: 0;
}
.para1 {
  color: #333b69;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}
.para2 {
  width: 289px;
  color: #505887;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}
.form {
  padding: 10px;
}
.edit-background {
  padding: 20px;
}
.edit-button {
  background-color: transparent;
  border-width: 0;
}
