.debit {
  color: #fe5c73;
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.credit {
  color: #16dbaa;
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.flex-transaction {
  display: flex;
  justify-content: space-between;
  width: 1061px;

  flex-shrink: 0;
}
.list {
  list-style-type: none;
}
